/*.strike {
    text-decoration: line-through;
}*/

.strike{
    position: relative;
}
.strike::after {
    border-bottom: 3px solid black;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 40%;
}
}

.relative{position:relative; width:250px;}
.absolute-text{position:absolute; top:0; font-size:12px; font-family:"verdana"; background:rgba(251,251,251,0.5);
padding:10px 20px; width:100%; text-align:center; display: inline-block;}
.absolute-text a{font-size:10px; color:#b92b27;}

.gameDisplay {
	margin-right: 10px;
	font-size: 200%;
	vertical-align: middle;
	text-align: center;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }