<div class="col-xs-12">  
	    <div class="jumbotron text-center" color="red">
        <h1>List Of All Games Refereed</h1>
    </div>    
      
    <div class="list-group"> 
       <h4 class="list-group-item-heading">Search for specific team: <input type = "text" ng-model = "teamName"></h4>
        <li ng-repeat="game in games | filter: teamName | orderBy: 'date'" class="list-group-item text-center clearfix">
           
	             <kc-game-item></kc-game-item>
        </li>
    </div>
</div>