            <button class="btn btn-sm btn-success pull-left" ng-click = "markCompleted(game)"><span class = "glyphicon" ng-class="game.completed ? 'glyphicon-check': 'glyphicon-unchecked'"></span>
            </button>

<span ng-class = "{strike:game.completed}" style="font-weight: bold"> </span>

<div>
            <a href="#/viewGameDetails/{{game.Match_Id}}" class="gameDisplay">{{game.Home}} {{game.Home_Score}} - {{game.Away_Score}}
{{game.Away}}</a>
</div>



            
            <button class="btn btn-sm btn-danger pull-right" ng-click="removeGame(game)"><span class = "glyphicon glyphicon-trash"></span>
            </button>
            
            <a href="#/addGame/edit/{{game.id}}" class="btn btn-sm btn-info pull-right" style="margin-right: 10px;">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>