<div class="col-xs-12">
    <a href="#/viewAllGames" style="margin-bottom: 10px;" class="btn btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-triangle-right"></span> View All {{games.length}} Games Officiated</a>

    <a href="#/addGame" style="margin-bottom: 10px;" class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-plus"></span> Add New Game</a>
        
        
<div style="margin-bottom: 10px;" class="btn btn-warning btn-lg btn-block">
        <span class="glyphicon glyphicon-duplicate"></span> Cautions: Total issued: {{games.sumYellows}}; Average per game: {{games.sumYellows/games.length | round}};  Most in one game: {{games.maxYellows}}</div>  

<div style="margin-bottom: 10px;" class="btn btn-danger btn-lg btn-block">
        <span class="glyphicon glyphicon-eject"></span> Dismissals: Total issued: {{games.sumReds}}; Average per game: {{games.sumReds/games.length | number}};  Most in one game: {{games.maxReds}}</div>  

<div style="margin-bottom: 10px;" class="btn btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-thumbs-up"></span> Goals: Total scored: {{games.sumGoals}}; Average per game: {{games.sumGoals/games.length | number}};  Most in one game: {{games.maxGoalsInGame}}</div>  
        
<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Match Stats</h4>
    <p class="list-group-item-text">Total frees awarded: {{games.sumFrees}}</p>
    <p class="list-group-item-text">Average frees per game: {{games.sumFrees/games.length | number}}</p>
    <p class="list-group-item-text">Total penalties awarded: {{games.sumPens}}</p>
    <p class="list-group-item-text">Average penalties per game: {{games.sumPens/games.length | number}}</p>
    <p class="list-group-item-text">Total offsides: {{games.sumOffsides}}</p>
    <p class="list-group-item-text">Average offsides per game: {{games.sumOffsides/games.length | number}}</p>
    <p class="list-group-item-text">Total kilometeres covered: {{games.sumDistance}}</p>
    <p class="list-group-item-text">Average kilometres per game: {{games.sumDistance/games.length | number}}</p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Financial Stats</h4>
    <p class="list-group-item-text">Total earnings: {{games.sumEarnings}}</p>
    <p class="list-group-item-text">Average match fee: {{games.sumEarnings/games.length | number}}</p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Enjoyment Stats</h4>
    <p class="list-group-item-text">Average game enjoyment score: {{games.sumEnjoyment/games.length | number}}</p>
    <p class="list-group-item-text">Average self assessment score: {{games.sumAssessment/games.length | number}}</p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Additional Stats</h4>
        <p class="list-group-item-text">Total hours refereed: {{games.sumHours}}</p>
        <p class="list-group-item-text">Team refereed most: {{games.mostPopularTeam}}</p>
        <p class="list-group-item-text">Team with worst disciplinary record: {{games.worstDiscipline}}</p>
  </a>
</div>
        
</div>

</br>
</br>
</br>